<!DOCTYPE html>

<html>
  <meta charset="UTF-8">
  <meta name="description" content="Sitio Web Académico para el aprendizaje de lenguaje C#">
  <meta name="keywords" content="HTML, CSS, JavaScript, C#, .Net, ASP.Net">
  <meta name="author" content="uis Sanchez P.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<link rel="stylesheet" href="../resources/css/style.css">
<body>
<p>INICIO</p><br>
<hr>
<a href="productos.html" target ="_Blank;">Ver Catalogo.</a>
</body>

</html>
