<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta name="description" content="Sitio Web Académico para el aprendizaje de lenguaje C#">
  <meta name="keywords" content="HTML, CSS, JavaScript, C#, .Net, ASP.Net">
  <meta name="author" content="uis Sanchez P.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<link rel="stylesheet" href="../resources/css/style.css">
<body>
<p>PRODUCTOS</p><br>
<hr>
<a href="ndex.html" target ="_Blank;">Inicio.</a>

<h2>Operaciones C.R.U.D.</h2>
<table>
  <tr>
      <td>Id</td>
      <td>Nombre</td>
      <td>Descripcion</td>
      <td colspan="4">Operación</td>
  </tr>
    <tr>
      <td>0</td>
      <td>Loren</td>
      <td>OIpsum</td>
      <td><a href="NewProduct.cs">Crear</a></td>
      <td><a href="SearhcProduct.cs">Leer</a></td>
      <td><a href="UpdateProduct.cs">Actualizar</a></td>
      <td><a href="DeleteProduct.cs">Eliminar</a></td>
  </tr>
</table>
<!----

<form action="/action_page.php">
  <label for="fname">Name:</label><br>
  <input type="text" id="pname" name="name" value="Leche"><br>
  <label for="descripcion">descripcion:</label><br>
  <input type="text" id="descripcion" name="descripcion" value="Litro"><br><br>
  <input type="submit" value="Comprar">
</form> --->

<p>lige una operación en la tabla para ser realizada.</p>

</body>
</html>